.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 220px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 14px 12px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}
.container:hover {
  transform: translateY(-5px);
}
.upper img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.middle {
  padding: 12px 16px;
  text-align: center;
}
.middle p:first-child {
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  color: #333;
}
.middle p:last-child {
  font-size: 14px;
  color: #777;
  margin-top: 6px;
  margin-left: 25px;
  text-align: left;
}
.lower{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid #eee;
}
.lower p{
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin: 0;
}
.lower button {
  width: 60px;
  background-color: white;
  color: #2b9348;
  border: 1px solid #2b9348;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}